{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "paripari-app-example",
    "storage_bucket": "paripari-app-example.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.paripari.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "000000000000-xxxx.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.paripari.app",
            "certificate_hash": "0000000000000000000000000000000000000000"
          }
        },
        {
          "client_id": "000000000000-xxxx.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyYOUR_API_KEY_HERE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "000000000000-xxxx.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
